* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.header-part {
  background-image: url(images/donate.JPG);
  width: 100vw;
  height: 90vh;
  position: relative;
  background-size: cover;
}
.header-content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.header-content h1 {
  font-size: 80px;
}
.button {
  width: 100px;
  height: 20px;
  font-size: 17px;
  margin-left: 670px;
  margin-top: 40px;
  background-color: tomato;
  color: white;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.donate-part h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
.donate-part p {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
.donate-money {
  display: flex;
  display: -ms-flexbox;
  justify-content: center;
}
.donate-money div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  margin: 5px;
  margin-top: 50px;
}
.donate-money:hover {
  cursor: pointer;
}

/* input text start */
.input-field {
  position: relative;
  display: block;
  margin: 0 auto;
  border: none;
  margin-top: 50px;
}
hr {
  width: 50%;
  margin: 0 auto;
}

/* Donate plan start */
.donate-plan h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  margin-top: 50px;
}
.donate-plan p {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
.family-items {
  padding-top: 5%;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.items-1 {
  background-color: rgb(179, 171, 171);
  padding: 3%;
  margin: 2%;
  text-align: justify;
  border-radius: 10px;
}

.items-2 {
  background-color: rgb(204, 147, 192);
  padding: 3%;
  margin: 2%;
  text-align: justify;
  border-radius: 10px;
}

.items-3 {
  background-color: blanchedalmond;
  padding: 3%;
  margin: 2%;
  text-align: justify;
  border-radius: 10px;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
  margin-top: 50px;
}
.plan {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  box-shadow: 14px 10px 2px 1px rgba(255, 255, 255, 0.83);
  border-radius: 10px;
}
.half-width {
  width: 50%;
  padding-left: 8%;
}
.half-width img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.footer-part {
  background-color: black;
  height: 140px;
}
.footer-body {
  text-align: center;
  padding: 5px;
  color: white;
}
.footer-body h1 {
  margin-top: 30px;
  font-family: Sriracha;
}
.footer-body p {
  margin-top: 15px;
}
.email-texts h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
.email-texts p {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
}
.email {
  display: flex;
  padding-top: 4%;
  padding-left: 35%;
  padding-right: 20%;
  width: 45%;
  padding-bottom: 3%;
  background-color: blanchedalmond;
  margin-right: 5%;
}

.email-field {
  border-radius: 10px;
  background-color: white;
  padding-top: 5%;
  padding-right: 50%;
  padding-left: 3%;
  color: gray;
  margin-right: 10px;
  box-shadow: 10px 10px 40px gray;
}
.email-button {
  padding: 5%;
  border-radius: 10px;
  margin-right: 10px;
  background-color: tomato;
  color: white;
  box-shadow: 10px 10px 40px gray;
}
.volunteer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.volunteer-button {
  margin-top: 160px;
  width: 100%;
  padding: 5%;
  border-radius: 10px;
  margin-right: 10px;
  background-color: tomato;
  color: white;
  box-shadow: 10px 10px 40px gray;
}
